<h1>Estadisticas</h1>

<!--Tabla que muestra botones para ingresar a diferentes tipos de estadisticas-->
<table class="table">
    <tr>
        <th>Tipo</th>
        <th>Link</th>
    </tr>
    <tr>
        <td>Reseñas de un periodista de partidos con Roja</td>
        <td><a asp-action="Estadisticas" asp-controller="Resenia">Ingresar</a></td>
    </tr>
    <tr>
        <td>Seleccion con mas goles</td>
        <td><a asp-action="Estadisticas" asp-controller="Seleccion">Ingresar</a></td>
    </tr>
</table>
<br />
<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver</a>
</div>
